body{
  background-color: white,
  ;
}
.links{
  color: blue;
}



#head_nav{
  height: 25%;
  width: 38%;
  position: absolute;
  top: 30%;
  left: 0%; /* achse im bild bei 38 minus weite vom kasten */
  text-align: right;
  font-family: helvetica;
  font-size: 8em;
  font-weight: bold;
  line-height: 0.8em;
  margin: 0;
  padding: 0;
  -ms-transform: skewY(-10deg); /* IE 9 */
  -webkit-transform: skewY(-10deg); /* Safari */
  transform: skewY(-10deg);
  transform-origin: top right;
  color: white;
}

#right_mask{
  -ms-transform: skewY(-10deg); /* IE 9 */
  -webkit-transform: skewY(-10deg); /* Safari */
  transform: skewY(-10deg);
  transform-origin: top left;
  background-color: white;
  height: 160%;
  width: 100%;
  position: absolute;
  top: 700px;
  left: 0;
}

#content{
  -ms-transform: skewY(-10deg); /* IE 9 */
  -webkit-transform: skewY(-10deg); /* Safari */
  transform: skewY(-10deg);
  width: 95%;
  height: 100%;
  position: absolute;
  top: 70%;
  left: 2.5%;
  transform-origin: top left;
  background-color: pink;
}
#content_1{
  height: 100%;
  width: 33.33%;
  position: absolute;
  margin: 0;
  top: 0;
  text-align: left;
  font-family: helvetica;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8em;
}
#content_1_box{
  height: 100%;
  width: 95%;
  position: absolute;
  background-color: black;
  top: 4%;
  left: 2.5%;
}
#content_2{
  height: 100%;
  width: 33.33%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 33.33%;
  text-align: left;
  font-family: helvetica;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8em;
}
#content_2_box{
  height: 100%;
  width: 95%;
  position: absolute;
  background-color: black;
  top: 4%;
  left: 2.5%;
}
#content_3{
  height: 100%;
  width: 33.33%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 66.66%;
  text-align: left;
  font-family: helvetica;
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8em;
}
#content_3_box{
  height: 100%;
  width: 95%;
  position: absolute;
  background-color: black;
  top: 4%;
  left: 2.5%;
}

#top_bg{
  height:70%;
  width:100%;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;
}
#top_bg_img{
  width:100%;
}

@media screen and (max-width:1700px) {
  #right_mask{
    top: 600px;
  }
  #head_nav{
    top:25%;
    font-size: 7em;
  }
}
@media screen and (max-width:1500px) {
  #right_mask{
    top: 450px;
  }
  #head_nav{
    top:20%;
    font-size: 5em;
  }
}
@media screen and (max-width:800px) {
  #right_mask{
    top: 250px;
  }
  #head_nav{
    top:10%;
    font-size: 3em;
  }
}
@media screen and (max-width:450px) {
  #right_mask{
    top: 150px;
  }
  #head_nav{
    top:5%;
    font-size: 1.7em;
  }
}
