body{
  background-color: white,
  ;
}
.links{
  color: blue;
}



#head_nav{
  height: 25%;
  width: 30%;

  position: absolute;
  top: 30%;
  left: 8%; /* achse im bild bei 38 minus weite vom kasten */
  text-align: right;
  font-family: helvetica;
  font-size: 8em;
  font-weight: bold;
  line-height: 0.8em;
  margin: 0;
  padding: 0;
  -ms-transform: skewY(-10deg); /* IE 9 */
  -webkit-transform: skewY(-10deg); /* Safari */
  transform: skewY(-10deg);
  transform-origin: top right;
  color: white;
}

#right_mask{
  -ms-transform: skewY(-10deg); /* IE 9 */
  -webkit-transform: skewY(-10deg); /* Safari */
  transform: skewY(-10deg);
  transform-origin: top left;
  background-color: white;
  height: 40%;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
}

#top_bg{
  height:70%;
  width:100%;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("top_bg.png");
  background-attachment: fixed;
  background-size: cover;
  z-index: -10;
}
