body{
  background-color: #222222
  ;
}
.links{
  color: blue;
}

#test{
  background-color: black;
  height: 100%;
  width: 1px;
  position: absolute;
  margin: 0;
  top: 0;
  left: 38%;
}

#head_nav{
  height: 25%;
  width: 30%;

  position: absolute;
  top: 25%;
  left: 8%; /* achse im bild bei 38 minus weite vom kasten */
  text-align: right;
  font-family: helvetica;
  font-size: 8em;
  font-weight: bold;
  line-height: 0.8em;
  margin: 0;
  padding: 0;
  -ms-transform: skewY(10deg); /* IE 9 */
  -webkit-transform: skewY(10deg); /* Safari */
  transform: skewY(10deg);
  transform-origin: top right;
  color: white;
}

#top_bg{
  height:70%;
  width:100%;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("top_bg.png");
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}
